{% extends 'base.html' %} {% block content %}

<h1>Vacation Inspiration</h1>

{% for vacation in vacations %}


<a href="{% url 'detail' vacation.id %}">
  <div class="row" style="width: 500px; height: 600px">
    <div class="col s12 m6">
      <div class="card">

        {% for photo in vacation.photo_set.all %}

        {% if forloop.first %}
        <div class="card-image">
          <img
            src="{{photo.url}}"
            alt="banff"
            border="0"
          />
          {% endif %}
          {% empty %}
          <div class="card-image">
            <img
              src="https://scx2.b-cdn.net/gfx/news/2019/toomanyairpl.jpg"
              alt="banff"
              border="0"
            />
          {% endfor %}
          <br />
          <span class="card-title">{{vacation.name}}</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"
            ><i class="material-icons"></i
          ></a>
        </div>
        <div class="card-content">
          <p>{{vacation.destination}}</p>
          <p>{{vacation.description}}</p>
          <p>{{vacation.style}}</p>
          <a href="{% url 'vacations_delete' vacation.id %}">Delete</a>
        </div>
      </div>
    </div>
  </div>
</a>

{% endfor %} {% endblock %}
