{% extends 'base.html' %}

{% block content %}


<h1>Your Items</h1>

{% for packing in packing_list %}

<h5>{{packing.get_category_display}}</h5>

<ul class="collection">
    <li class="collection-item avatar">
      <img src="images/yuna.jpg" alt="" class="circle">
      <span class="title">{{packing.item}}</span>
      <p>{{packing.colour}} {{packing.brand}} 
      
   <a href="{% url 'packing_update' packing.id %}" class="secondary-content"><i class="material-icons">edit</i></a>

    </li> Add this item to a vacation
      <a href="#!" class="secondary-content"><i class="material-icons">add</i></a>

    </li>
  </ul>
        


{% endfor %}
{% endblock %}