{% extends 'base.html' %} {% block content %}

<br><br><br><br>

<style>
  body {
    background-image: url('https://www.incimages.com/uploaded_files/image/1920x1080/getty_583734066_335273.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  </style>

<div class="column">
    <div class="col s12 m5">
      <div class="card-panel light-green lighten-3">
        <span class="white-text">
            <h1>Our Mission</h1>
            <p>To inspire people to explore!</p>
        </span>
      </div>
    </div>
  </div>


  <div class="column">
    <div class="col s12 m6">
      <div class="card-panel ">
        <span class="black-text">
            <h1>To Start</h1>
            <p>1. Start by adding a vacation plan in the Vacation tab</p>
            <p>2. Create a plan for your trip in the Itinerary tab</p>
            <p>3. Don't forget to pack some clothes! This can be done in the Packing tab</p>
            <p>4. Finally, view your vacations in the Vacation tab</p>
        </span>
      </div>
    </div>
  </div>
{% endblock %}

