{% extends 'base.html' %} {% block content %}

<br><br><br><br>

<style>
  body {
    background: url('../static/assets/travel\ gifphy\ mapout.gif') no-repeat right bottom;
    background-color: black;
    color:white 
  }
  </style>

<div class="Welcome">
    
          <h1><strong>Have Destination, Will Travel.</strong></h1>
          <h5>Let's map out your next vacation!</h5>
</div>

<div class="column">
    <div class="col s8">
      <div class="card-panel black lighten-1">
        <span class="white-text">
            <h2>Take on the World!</h2>
            <p> Our Mission is to inspire people to explore and see the world. By using Map Out, you can map out where you want to go, what you want to do, and what you need to pack. So you're prepared and ready to make the most out of your travels!
            </p>
            <h5>Ready to get started?</h5>
            <p>1. Start by adding a vacation plan in the Vacation tab</p>
            <p>2. Create a plan for your trip in the Itinerary tab</p>
            <p>3. Don't forget to pack some clothes! This can be done in the Packing tab</p>
            <p>4. Finally, view your vacations in the Vacation tab
        </span>
      </div>
    </div>
  </div>

{% endblock %}

