{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Map Out</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  </head>
  <body>

<!-- Dropdown Structure -->
<nav>
{% if user.is_authenticated %}
<ul id="dropdown2" class="dropdown-content">
  <li><a href="/vacations/create/">Start a Vacation</a></li>
  <li><a href="/vacations">See All My Vacations</a></li>
</ul>
<ul id="dropdown4" class="dropdown-content">
  <li><a href="/packing/create/">Add Items </a></li>
  <li><a href="/packing/">View All My Items</a></li>
</ul>
  <div class="nav-wrapper light-green" >
    <a href="/about" class="brand-logo">Map Out!</a>
    <ul class="right hide-on-med-and-down">
      <li><a class="dropdown-trigger" href="/packing/create/" data-target="dropdown2">Vacation<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a class="dropdown-trigger" href="/packing/create/" data-target="dropdown4">Packing<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a href="{% url 'logout' %}">Logout</a></li>
    </ul>
    {% else %}
    <ul class="right">
      <li><a href="{% url 'signup' %}">Sign Up</a></li>
      <li><a href="{% url 'login' %}?next=/">Login</a></li>
    </ul>
    {% endif %}
  </div>
</nav>

    </header>
    <main class="container">{% block content %} {% endblock %}</main>
    <footer class="page-footer brown">
      <div class="right">
        All Rights Reserved, &copy; 2021 Team Snakebyte &nbsp;
      </div>
    </footer>
  </body>
</html>


<script>
const elemsDropdown = document.querySelectorAll(".dropdown-trigger");
const instancesDropdown = M.Dropdown.init(elemsDropdown);
</script>