@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
html {
  font-family: "Montserrat";
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
  background-color: rgb(68, 224, 211);
  color: black;
}

.navbar-fixed nav {
  background-color: rgba(68, 224, 211);
}

/* Float two columns side by side */
.column {
  display: grid;
  float: left;
  width: 50%;
  padding: 0 10px;
  color: white;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
}

/* Timeline styling */
.outer-box {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.timeline-container {
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  background-color: rgba(84, 230, 222, 0.5);
  border-radius: 50px;
}
.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}
.timeline ul {
  list-style: none;
}
.timeline ul li {
  padding: 20px;
  background-color: rgba(118, 228, 15, 0.7);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-bottom: 20px;
}
.timeline ul li:last-child {
  margin-bottom: 0;
}
.timeline-content h1 {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.timeline-content p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}
.timeline-content .timeline-date {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
@media only screen and (min-width: 768px) {
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 100%;
    background-color: rgb(232, 235, 57);
  }

  .timeline ul li {
    width: 50%;
    position: relative;
    margin-bottom: 50px;
  }

  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }

  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
  }

  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: gray;
    top: 0px;
  }
  .timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -30px;
  }
  .timeline ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -30px;
  }
  .timeline-content .timeline-date {
    position: absolute;
    top: -60px;
  }
  .timeline ul li:hover::before {
    background-color: rgb(255, 105, 180);
  }
}

